@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
font-family: "League Spartan", sans-serif;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images\bg-pattern-top-desktop.svg);
    font-family: "League Spartan", sans-serif;
    margin: 6rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5rem 0;
    line-height: 1.8rem;
}

.left {
    width: 400px;

}

.left h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    font-size: 3rem;
    line-height: 3rem;
}

.left p {
    color: hsl(303, 10%, 53%);
    padding: 1rem 0;
    font-size: 1.3rem;
}

.right {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0rem 6rem;
}

li {
    list-style: none;
    background-color:  hsl(300, 24%, 96%);
    padding: 1rem 3rem;
    border-radius: 12px;
}

.b {
    margin: 1rem -3rem 0rem 3rem;
}

.c {
    margin: 1.5rem -6rem 0rem 6rem;
}

.boxes {
    display: flex;
    gap: 5%;
}

.box, .box1, .box2, .box3 {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 2rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

.top {
    display: flex;
    gap: 6%;
}

.topleft img {
    border-radius: 50%;
    width: 80%;
}

.topright h5 {
    color: hsl(333, 80%, 67%);
}

.boxes p {
    padding: 1rem 0;
    width: 330px;
    font-size: 1.1rem;
}

.box2 {
    margin-top: 2rem;
}

.box3 {
    margin-top: 4rem;
}